<script src="{{"js/core/jquery.min.js" | relURL }}"></script>
<script src="{{"js/core/popper.min.js" | relURL }}"></script>
<script src="{{"js/bootstrap-material-design.js" | relURL }}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{{"js/plugins/moment.min.js" | relURL }}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{"js/plugins/bootstrap-datetimepicker.min.js" | relURL }}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{"js/plugins/nouislider.min.js" | relURL }}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{"js/material-kit.js?v=2.0.0" | relURL }}"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="{{"assets-for-demo/js/material-kit-demo.js" | relURL }}"</script>

<!-- LaTeX math rendering -->
{{ if or .Params.math .Site.Params.math }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ end }}