<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100"  id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}">{{ .Site.Title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="dropdown  nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            {{ .Pre }} {{ .Name }}
          </a>
          <div class="dropdown-menu dropdown-with-icons">
          {{ range .Children }}
              <a href="{{ .URL | relURL }}" class="dropdown-item">
                {{ .Pre }} {{ .Name }}
              </a>
            {{end}}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a href="{{ .URL | relLangURL }}" class="nav-link">
            {{ .Pre }} {{ .Name }}
          </a>
        </li>
        {{ end }}
      {{ end }}
        		</ul>
        	</div>
    	</div>
    </nav>